@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100; 1.200;1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300..700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  font-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --var-white-color: #fafafa;
  --var-dark-color: #0e0e0e;
  --var-one-color: rgb(168, 38, 255);
  --var-two-color: rgb(140, 32, 212);
  --var-tree-color: #2b1055;
  --var-four-color: #7597de;
  --var-gradient-color: linear-gradient(#2b1055, #7597de);
}
body {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#2b1055, #7597de);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 120;
}
.logo {
  z-index: 10;
  margin-left: 1rem;
  width: 100px;
}
.Btn {
  z-index: 11;
  margin-right: 1rem;
  width: 120px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 35px;
  border: none;
  padding: 0px 20px;
  background-color: var(--var-one-color);
  color: var(--var-white-color);
  font-weight: bolder;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px var(--var-two-color);
  transition-duration: 0.3s;
}

.home {
  font-weight: bolder;
  color: var(--var-white-color);
  width: 11%;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: var(--var-white-color);
  transition-duration: 0.3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover .home {
  right: 43%;
  width: 13%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.3s;
}

.Btn:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
  box-shadow: 2px 2px 0px var(--var-two-color);
}

section {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  top: -100%;
  mix-blend-mode: screen;
}
section img#stars {
  top: -100%;
  height: 100vh;
  object-fit: cover;
}

section img#mountains_behind {
  top: initial;
  bottom: -100%;
}
section img#mountains_front {
  top: 0;
  top: initial;
  z-index: 100;
  bottom: -100%;
}

#text {
  font-family: "Pacifico", sans-serif;
  position: absolute;
  font-weight: bolder;
  white-space: nowrap;
  color: var(--var-white-color);

  font-size: 8vw;
  z-index: 9;
  margin-right: -300%;
  transform: translateY(-380px);
}
#text span {
  font-family: "Pacifico", sans-serif;
}
.section-btn {
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  display: inline-block;
  padding: 8px 50px;
  background: var(--var-white-color);
  border-radius: 2.5rem;
  font-size: 1.4em;
  color: var(--var-tree-color);
  z-index: 102;
  margin-top: 4rem;
}

footer#copyRight {
  background-color: var(--var-white-color);
  color: var(--var-dark-color);
  font-size: 85%;
  width: 100%;
  font-style: none;
  display: flex;
  padding: 1rem 10%;
  justify-content: center;
  text-align: center;
}

@media (max-width: 1680px) {
  #text {
    transform: translateY(-400px);
  }
}

@media (max-width: 1024px) {
  #text {
    font-size: 10vw;
    transform: translateY(-375px);
  }
}
@media (max-width: 450px) {
  #text {
    font-size: 10vw;
    transform: translateY(-450px);
  }
}

@media (max-width: 650px) {
  #text {
    font-size: 15vw;
  }
}
